.About__section {
  height: 100%;
  border: 2px solid white;
}

.iconStyles {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  padding: 1rem;
  color:  #ea38d7;
}
/* 
.About__section {
  color: rgb(204, 201, 201);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 10px;
  border: 2px solid white;
} */

/* .About__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
}
.About__left h3 {
  font-size: 3rem;
  color: white;
}
.About__left p {
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(180deg, #1f0045, #310b6b);
}
.About__right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 10px;
}
.About__right span {
  margin: 5px;
}

.iconStyles {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  padding: 5px;
}

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 500px) {
   
 }
 