

  .about-me-section {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
      }

/* .about-section {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
 
} */

.bio-information {
  background-color: #fff;
  margin-top: 8rem;
  width: 100vw;
}
.about-title {
  display: flex;
  justify-content: center;
}
.about-title h2 {
  background-color: white;
  padding: 20px;
  margin-bottom: -30px;
}
.iconStyles {
  width: 70px;
  height: 70px;
  background-color: #000;
  border-radius: 50%;
  font-weight: 700;
  padding: 1rem;
  color: white;
  border: 1px solid #000;
  margin: 1rem 0rem;
}


.quote {
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 6rem;
  background: #e2d8d8;
  padding: 4rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}
/* .quote figcaption,
.quote blockquote {
  margin: 1em;
} */
.quote p {
  font-weight: 400;
  color: #5a5555;
}
.quote span {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: 700;
}


/* mediaSm */ 
@media screen and (max-width: 500px) {
  .about-me-section {
margin-top: 6rem;
  }

}