@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

.Header-section {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  padding: 8rem 0;
  background-color: #ffffff;
  margin-top: -20px;
  margin-bottom: 6rem;
  display: flex;


}
.Header-section .row {
  margin: 0px 0px;
  width: 100%;
}

.textDiv {
  color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 40vh;
  width: 100%;

}
.textDiv h1 {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  font-weight: 700;
}
.textDiv h1 span {
  font-style: italic;
}
.textDiv p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
}
.profile-image {
  display: flex;
}
.profile-img {
  width: 800px;
  height: 800px;
  box-shadow: rgb(255, 255, 255, 0.8);
}


.vertical-text {
  animation: updown 4s linear infinite;
  font-size: 0.8rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  float: right;
}
@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
}


.con {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Square blue*/
.box {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 10px;
  height: 10px;
  animation: myIcons 90s ease-in infinite;
  color:  #e2d8d8;

}
/* Triangle blue */
.box:nth-child(2) {
  top: 1%;
  left: 65%;
  animation-delay: 2s;
  color: #e2d8d8;
}
/* Circle */
.box:nth-child(3) {
  top: 60%;
  left: 85%;
  animation-delay: 4s;
  color: #f0ece8;
}
/* ZigZag pink*/
.box:nth-child(4) {
  top: 1%;
  left: 90%;
  animation-delay: 6s;
  color: #eec5c5;
}
/* Circle blue */
.box:nth-child(5) {
  top: 10%;
  left: 90%;
  animation-delay: 8s;
  color: #e2d8d8;
}
/* Traingle pink */
.box:nth-child(6) {
  top: 50%;
  left: 20%;
  animation-delay: 10s;
  color:  #f0ece8;
}
/* ZigZag purple*/
.box:nth-child(7) {
  top: 5%;
  left: 20%;
  animation-delay: 12s;
  color: #e2d8d8;
}
/*ZigZag green */
.box:nth-child(8) {
  top: 75%;
  left: 50%;
  animation-delay: 14s;
  color:  #f0ece8;
}

@keyframes myIcons {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}


/* mediaSm */ 
@media screen and (max-width: 500px) {
  @keyframes myIcons {
 
  }

  @keyframes background {
    
  }
.box {
  opacity: 0;
}
.Header-section {
  margin-top: -30px;
}
.Header-section:hover {
background-color: black;
color: white;
}

.textDiv:hover {
 color: white;
}
  .textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textDiv h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
  }
  .textDiv h1 span {
    font-style: italic;
  }
  .textDiv p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
  }
}