.contact__page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}
.contact__page h1 {
    color: white;
    font-size: 3rem;
    
}
.contact__page p {
    color: white;
    font-size: 1rem;
    
}

/* .animated-cube {
    display: flex;
  
} */
