.Footer__section {
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
   
  
    
}
.iconStyles {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  padding: 1rem;
  color:  #ea38d7;
}
.Contact {
display: flex;
flex-direction: column;
text-align: center;
 justify-content: center; 
}
.Contact h2 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.Social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.Footer {
  flex-direction: column;
  text-align: center;
   justify-content: center; 
   margin-top: 2rem;
}
.Footer__button{
  color: rgb(255, 255, 255);
  border: 2px solid #28c8de;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 20px;
}
.Footer__button:hover {
  outline: none;
  border: none;
  background: linear-gradient(to bottom, #f892dc, #ea38d7);
  color: white;
}
.footer-link {
  background: none;
}
.footer-link:hover {
  background: none;
}

hr {
  width: 100%;
  height: 0.1rem;
  margin-top: 1rem;
  align-self: flex-start;
  background-color: #28c8de;
 
}

@media only screen and (max-width: 500px) {
 .Footer__section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;
 }

 .iconStyles {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  padding: 1rem;
  color:  #ea38d7;
}
}
/* 
.custom-shape-divider-bottom-1621533934 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1621533934 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
  }
  
  .custom-shape-divider-bottom-1621533934 .shape-fill {
    fill: #FFFFFF;
  }
   */